<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

	<!--JAVASCRIPT-->
	<!--=================================================-->

	<!--jQuery [ REQUIRED ]-->
	<script src="js/jquery.min.js"></script>


	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="js/bootstrap.min.js"></script>


	<!--NiftyJS [ RECOMMENDED ]-->
	<script src="js/nifty.min.js"></script>


	<!--=================================================-->

	<!--Background Image [ DEMONSTRATION ]-->
	<script src="js/demo/bg-images.js"></script>
</body>
</html>