<head th:fragment="head">
  	<title>Reva Real Estate</title>
	<!-- Styles CSS  -->
	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'
		rel='stylesheet' type='text/css'>
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/nifty.min.css}" />
	<!-- <link rel="stylesheet" type="text/css" th:href="@{css/nifty-custom.css}" /> -->
	<!--Nifty Premium Icon [ DEMONSTRATION ]-->
	<link th:href="@{/css/demo/nifty-demo-icons.min.css}" rel="stylesheet">
	<link th:href="@{/css/pace/pace.min.css}" rel="stylesheet">
	<script src="/js/pace/pace.min.js"></script>
	
	<!--Demo [ DEMONSTRATION ]-->
	<link th:href="@{css/demo/nifty-demo.min.css}" rel="stylesheet">
	<link th:href="@{css/theme-navy.min.css}" rel="stylesheet">
</head>